/* general */
* {
    box-sizing: border-box;
}
html {
    color: #02363F;
    font-size: 8px;
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #FBF5E8;
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    margin: 0;
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.center-inline {
    text-align: center;
}

/* buttons */
.cta-button {
    background-color: white;
    border: 1px solid #045866;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #A54724;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4;
    padding: 2rem;
}
.btn {
    text-align: center;
}

/* images */
img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 100%;
}
.no-shadow {
    box-shadow: none;
    border-radius: 0;
}
.no-marg-pad {
    margin: 0;
    padding: 0;
}

/* typography */
p {
    color: #02363F;
    font-family: 'Overpass', sans-serif; 
    font-size: 2.25rem;
    line-height: 1.5;
}
h1 {
    color: #A54724;
    font-family: 'Overpass', sans-serif; 
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;
}
h2 {
    color: #045866;
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 0;
}
h2:before
{
    content: ' ';
    border: 2px solid #A54724;
    display: block;
    margin-bottom: 1.5rem;
    width: 100px;
}
h3 {
    color: #045866;
    letter-spacing: 1.5px;
    margin-bottom: 6rem;
    text-align: center;
    text-transform: uppercase;
}
h4 {
    color: #045866;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 4rem 0 1rem 0;
    text-transform: uppercase;
}
a {
    color: #045866;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
ul {
    font-size: 2.25rem;
    line-height: 1.5;
    margin: 1rem 0 3rem 0;
    padding: 0 5%;
}
blockquote {
    color: #045866;
    border-left: 3px solid #A54724; 
    font-family: 'Miriam Libre', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding-left: 2rem;
}


/* main navigation menu */
.main_menu {
    align-items: center;
    background: url(/assets/svgs/main_menu-sm.svg) top center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    left: 0;
    padding: 3rem;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}
.main_menu ul {
    line-height: 2;
    list-style-type: none;
    padding: 0;
}
.kgrl-logo {
    width: 40px;
    padding: 2rem 0;
}
.menu-toggle > p {
    color: #045866;
    font-size: 2.5rem;
    font-weight: 700;
}
.full-menu {
    display: none;
}

/*** SECTIONS ****/ 

/* hero */
.hero {
    padding-top: 8rem;
}
.emphasize {
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
}
.hero > * {
    text-align: center;
}

/* work */
.featured-img {
    background: url(/assets/svgs/project-blob.svg) center no-repeat;
    background-size: contain;
    padding: 5rem 2.5rem;
    text-align: center;
}
.project-descript {
    color: #A54724;
    font-family: p22-mackinac-pro, serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.community img {
    margin: 0 1rem 2rem 0
}

/* spacing after sections */
section {
    margin: 10rem 0;
}

/* footer */
.connect li {
    display: inline;
    line-height: 1;
    padding-right: 5rem;
}
footer {
    background: url(/assets/svgs/footer.svg) bottom center no-repeat;
    background-size: cover;
    margin: 0 -10%;
    padding: 5rem 10% 3rem 10%;
}
.no-top-rule:before {
    content: ' ';
    border: 0;
    margin: 3rem 0;
}

/*** ABOUT PAGE ****/
.introduction {
    padding-top: 8rem;
}
.heading > h1 {
    text-align: center;
}

/*** CASE STUDY PAGES ***/
.overview {
    padding-top: 4rem;
}
.overview h1 {
    color: #045866;
    font-family: Overpass, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}
/* make desktop prototype button disappear on mobile*/
.desktop-proto {
    display: none;
}
.project-nav {
    background-color: #CAD6CE;
    margin: 0 -6%;
    padding: 3rem 6%;
    text-align: center;
}
.project-nav ul {
    margin: 0;
}
.project-nav li {
    display: inline;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.copper-blt {
    color: #A54724;
}

/* Space after subsections */
.space-bf-af  {
    margin: 10rem 0;
}

/* Light gray background sections */
.lt-grey-bg {
    background-color: #F8FAF7;
    margin: 0 -10%;
    padding: 10rem 10%;
}

/* RESEARCH */
.insights {
    border: 0;
    min-height: 6rem;
    margin: 2rem 1rem;
    padding: 0;
}
/* percentage dropcap */
.percentage {
    color: #A54724;
    float: left;
    font-family: p22-mackinac-pro, serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 1rem;
    padding: 0 1rem 0 0;
}
/* cards */
.card {
    background-color: #F8FAF7;
    border-radius: 10px;
    margin: 3rem auto;
    padding: 1rem 2rem;
    width: 90%;
}
/* user personas */
.persona {
    border-top: 1rem #A54724 solid;
}
.card-heading {
    color: #A54724;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
}
/* competitors */
.pros {
    list-style: none;
    margin: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;    
}
.pros > li:before {
    content: "+";
    display: block;
    float: left;
    font-weight: 700;
    width: 1.2em;
    color: #A54724;
}
.cons {
    list-style: none;
    margin: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;    
}
.cons > li:before {
    content: "–";
    display: block;
    float: left;
    font-weight: 700;
    width: 1.2em;
    color: #A54724;
}

/* image and captions*/
.flows, .wireframe, .preference-test, .hi-fi, .logo-prog, .style-guide-pages, .illos, .project-preview {
    line-height: 2;
    text-align: center;
}
.img-cap {
    margin: 2rem 0;
    text-align: center;
}

/* More Projects */
.project-preview h4 {
    color: #A54724;
}

/* MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    .lt-grey-bg {
        margin: 0 -20%;
        padding: 10rem 20%;
    }
    footer {
        margin: 0 -20%;
        padding: 5rem 20% 3rem 20%;
    }
    .btn {
        text-align: initial;
    }

    /* Homepage */
    .hero {
        background: url(/assets/svgs/hero-blob.svg) top right no-repeat;
        margin: 0 -20%;
        padding: 18rem 20%;
    }
    .hero > * {
        text-align: initial;
    }
    .about {
        display: flex;
        flex-flow: column wrap;
        max-height: 56rem;
    }
    .bio, .heading {
        align-self: flex-start;
        margin-right: 10%;
        order: -1;
        width: 40%;
    } 
    .featured-project {
        display: flex;
        flex-flow: column wrap;
        max-height: 61rem;
    }
    .featured-img {
        order: -1;
        margin-bottom: 61rem;
        padding: 2rem;
        width: 45%;
    }
    .project-title, .featured-details {
        margin-left: 5%;
        width: 50%;
    }
    .project-title h4 {
        margin: 0;
    }

    /* About Me */
    .introduction, .growth {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .intro-hero, .intro-bio {
        width: 60%;
        margin-left: 5%;
    }
    .intro-bio {
        margin-top: -35%;
    }
    .cont-growth {
        margin-top: -55%;
    }
    .bio-photo, .bio-imgs {
        width: 35%;
        order: -1;
        align-items: flex-start;
    }

    /* Case Study */

}



/* DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }
    .menu-toggle {
        display: none;
    }
    .full-menu {
        display: initial;
        margin: 0;
        padding-top: 2rem;
        width: 100%;
    }
    .kgrl-logo img {
        width: 60px;
    }
    .kgrl-logo {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .main_menu {
        background: url(/assets/svgs/main_menu.svg) top left no-repeat;
        flex-direction: column;
        height: 350px;
        left: 0;
        margin: 0;
        padding: 4rem;
        position: fixed;
        top: 0;
        width: 170px;
        z-index: 1;
    }
    .lt-grey-bg {
        margin: 0 -30%;
        padding: 10rem 30%;
    }
    footer {
        margin: 0 -30%;
        padding: 5rem 30% 3rem 30%;
    }
    /* Homepage  */
    .hero {
        margin: 0 -25% 0 -30%;
        padding: 10rem 30% 18rem 30%;
    }
    .heading, .bio {
        width: 50%;
    }

    /* About Me */
    .introduction {
        background: url(/assets/svgs/hero-blob.svg) top right no-repeat;
        background-position-x: 95%;
        margin: 0 -30%;
        padding: 10rem 30%;
    }
}