/* general */
* {
    box-sizing: border-box;
}
html {
    color: #02363F;
    font-size: 8px;
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #FBF5E8;
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    margin: 0;
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.center-inline {
    text-align: center;
}

/* buttons */
.cta-button {
    background-color: transparent;
    border: 1px solid #A54724;
    border-radius: 10px;
    color: #A54724;
    cursor: pointer;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 2rem;
    padding: 2rem;
    text-transform: uppercase;
    width: 100%;
}
.btn {
    text-align: center;
}

/* images */
img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 100%;
}
.no-shadow {
    box-shadow: none;
    border-radius: 0;
}
.no-marg-pad {
    margin: 0;
    padding: 0;
}

/* typography */
p {
    color: #02363F;
    font-family: 'Overpass', sans-serif; 
    font-size: 2.25rem;
    line-height: 1.5;
}
h1 {
    color: #A54724;
    font-family: 'Overpass', sans-serif; 
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;
}
h2 {
    color: #045866;
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 0;
}
h2:before
{
    content: ' ';
    border: 2px solid #A54724;
    display: block;
    margin-bottom: 1.5rem;
    width: 100px;
}
h3 {
    font-size: 3rem;
    color: rgba(4, 88, 102, .8);
    margin-bottom: 6rem;
    text-align: center;
}
h4 {
    color: #A54724;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 4rem 0 1rem 0;
    text-transform: uppercase;
}
a {
    color: #045866;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    text-align: center;
    text-decoration: none;
}
p a:before, ul a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -0.5rem;
    left: 0;
    background-color: #A54724;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
p a:hover:before, ul a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
a button:hover {
    color: #F8FAF7;
    background-color: #A54724;
    border: 1px solid #A54724;
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
}
ul {
    font-size: 2.25rem;
    line-height: 1.5;
    margin: 1rem 0 3rem 0;
    padding: 0 5%;
}
blockquote {
    color: #045866;
    border-left: 3px solid #A54724; 
    font-family: 'Miriam Libre', sans-serif;
    line-height: 1.5;
    margin: 5rem 0;
    padding-left: 2rem;
}


/* main navigation menu */
.main_menu {
    align-items: center;
    background: url(/assets/svgs/main_menu-sm.svg) top center no-repeat;
    background-size: auto 100px;
    /* display: flex; */
    justify-content: space-between;
    letter-spacing: 2px;
    left: 0;
    padding: 3rem;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}
.main_menu ul {
    line-height: 2;
    list-style-type: none;
    padding: 0;
}
.kgrl-logo {
    width: 40px;
    padding: 0;
    z-index: 2;
}
.full-menu {
    display: none;
}

/* Mobile MENU  */
.menuOpen, .menuClose {
    float: right;
    margin-top: -5.5rem;
    cursor: pointer;
    color: #045866;
    font-size: 2.5rem;
    font-weight: 700;
}
.menuClose {
    margin-right: 3rem;
}
.mobile {
    margin: 3rem 0 0 3rem;
}
.mobileMenu {
    background-color: #EAD2C1;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100vw; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.mobileMenu .menuContent {
    position: relative;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    margin-top: -26rem;
}
.menuContent ul {
    font-size: 4rem;
    line-height: 2;
    list-style: none;
}
.menuContent ul li a:hover {
    color: #02363F;
    transition: color .5s;
}
.menuList {
    opacity: 0;
}
.close {
    opacity: 0;
    visibility: hidden;
}
/* effects when menu is open */
.open {
    opacity: 1;
    visibility: visible;
    transform: opacity 0.5s;
}
.menuHide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.menuAppear {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}
/* No scroll when menu is active */
.noScroll {
    overflow: hidden;
}

/* UL effects when menu is open after menu is open/closed */
@keyframes slideDown {
    0% { opacity: 0; transform: translateY(-30%); }
    100% { opacity: 1; transform: translateY(0%); }
}
.appear {
    animation: slideDown .5s;
    opacity: 1;
}
@keyframes slideUp {
    0% { opacity: 1; transform: translateY(0%); }
    100% { opacity: 0; transform: translateY(-30%); }
}
.disappear {
    animation: slideUp .5s;
    opacity: 1;
}


/*** SECTIONS ****/ 

/* hero */
.hero {
    padding-top: 8rem;
}
.emphasize {
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
}
.hero > * {
    text-align: center;
}

/* work */
.featured-img {
    background: url(/assets/svgs/project-blob.svg) center no-repeat;
    background-size: contain;
    padding: 5rem 2.5rem;
    text-align: center;
}
.project-descript {
    color: #A54724;
    font-family: p22-mackinac-pro, serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.community img {
    margin: 0 1rem 2rem 0
}

/* spacing after sections */
section {
    margin: 10rem 0;
}

/* footer */
.connect li {
    display: inline;
    line-height: 1;
    padding-right: 5rem;
}
footer {
    background: url(/assets/svgs/footer.svg) bottom center no-repeat;
    background-size: auto 100%;
    margin: 0 -10%;
    padding: 5rem 10% 3rem 10%;
}
.no-top-rule:before {
    content: ' ';
    border: 0;
    margin: 3rem 0;
}

/*** ABOUT PAGE ****/
.introduction {
    padding-top: 8rem;
}
.heading > h1 {
    text-align: center;
}

/*** CASE STUDY PAGES ***/
.overview {
    padding-top: 4rem;
}
.overview h1, .featured-heading {
    color: #045866;
    font-family: Overpass, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.25px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}
.overview > * {
    text-align: center;
}
/* make desktop prototype button disappear on mobile*/
.desktop-proto {
    display: none;
}
.project-nav {
    background-color: #CAD6CE;
    margin: 0 -6%;
    padding: 3rem 6%;
    text-align: center;
}
.project-nav ul {
    margin: 0;
}
.project-nav li {
    display: inline;
    letter-spacing: .5px;
    /* text-transform: uppercase; */
}
.copper-blt {
    color: #A54724;
}

/* Space after subsections */
.space-bf-af  {
    margin: 10rem 0;
}
.space-bf-af-sub {
    margin: 10rem 0 5rem 0;
}

/* Light gray background sections */
.lt-grey-bg {
    background-color: #F8FAF7;
    margin: 0 -10%;
    padding: 10rem 10%;
}

/* RESEARCH */
.insights {
    border: 0;
    min-height: 6rem;
    margin: 4rem 0 1rem 0;
    padding: 0;
}
/* percentage dropcap */
.percentage {
    color: #A54724;
    float: left;
    font-family: p22-mackinac-pro, serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 1rem;
    padding: 0 1rem 0 0;
}
/* cards */
.card {
    background-color: #F8FAF7;
    border-radius: 10px;
    margin: 3rem auto;
    padding: 2rem;
    width: 90%;
}
/* user personas */
.persona {
    border-top: 5px #A54724 solid;
}
.card-title {
    color: #A54724;
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
}
.card-heading {
    color: #045866;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 4rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
}
/* competitors */
.pros {
    list-style: none;
    margin: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;    
}
.pros > li:before {
    content: "+";
    display: block;
    float: left;
    font-weight: 700;
    width: 1.2em;
    color: #A54724;
}
.cons {
    list-style: none;
    margin: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;    
}
.cons > li:before {
    content: "–";
    display: block;
    float: left;
    font-weight: 700;
    width: 1.2em;
    color: #A54724;
}

/* image and captions*/
.flows, .preference-test, .hi-fi, .logo-prog, .style-guide-pages, .project-preview {
    line-height: 2;
    text-align: center;
}
.img-cap {
    font-style: italic;
    margin: 2rem 0;
    text-align: center;
}

/* Preference test */
.pref-option {
    padding: 1.5rem;
}
.winner {
    border: 2px solid #EAD2C1;
    border-radius: 10px;
}

/* More Projects */
.project-preview h4 {
    color: #A54724;
}

/* MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    /* Full bleed backgrounds */
    .full {
    margin: 0 -20%;
    padding: 10rem 20%;       
    }
    ul {
        padding: 0 10%;
    }
    .btn, .left, h3 {
        text-align: initial;
    }
    footer {
        margin: 0 -20%;
        padding: 5rem 20% 3rem 20%;
    }
    .cta-button {
        width: inherit;
    }


    /* Homepage */
    .hero {
        background: url(/assets/svgs/hero-blob.svg) top right no-repeat;
        margin: 0 -20%;
        padding: 18rem 20%;
    }
    .hero > * {
        text-align: initial;
    }
    .about {
        display: flex;
        flex-flow: column wrap;
        max-height: 56rem;
    }
    .bio, .heading {
        align-self: flex-start;
        margin-right: 10%;
        order: -1;
        width: 40%;
    } 
    .featured-project {
        display: flex;
        flex-flow: column wrap;
        max-height: 61rem;
    }
    .featured-img {
        order: -1;
        margin-bottom: 61rem;
        padding: 2rem;
        width: 45%;
    }
    .project-title, .featured-details {
        margin-left: 5%;
        width: 50%;
    }
    .project-title h4 {
        margin: 0;
    }

    /* About Me */
    .introduction, .growth {
        display: flex;
        flex-flow: column wrap;
    }
    .introduction {
        max-height: 152rem;
    }
    .growth {
        max-height: 209rem;
    }
    .bio-photo, .bio-imgs {
        order: -1;
        width: 45%;
    }
    .bio-imgs {
        margin-bottom: 120rem;
    }
    .intro-hero, .intro-bio {
        margin-left: 5%;
        width: 50%;
    }
    .resume {
        margin-bottom: 60rem;
        order: -1;
    }

    /* Case Study */
    .overview {
        display: flex;
        flex-flow: column wrap;
        max-height: 50rem;
    }
    .overview > *, .overview h1, .featured-heading {
        text-align: left;
    }
    .project-heading, .hero-details, .proto-links {
        width: 50%;
    }
    .desktop-proto {
        display: inherit;
    }
    .crue-hero {
        order: 2;
        padding-top: 5rem;
        width: 55%;
    }
    .project-nav {
        padding: 6% 20%;
    }
    .project-details, .row-sections {
        display: flex;
        justify-content: space-between;
    }
    .headings {
        width: 30%;
    }
    .three-col h4, .two-col h4, .two-col p {
        margin-top: 0;
    }
    .two-col {
        width: 60%;
    }
    .card {
        margin: 3rem 0;
        width: 32.5%;
    }
    .card-layout {
        margin: 0 -7%;
        display: flex;
        justify-content: space-between;
    }
    .personas {
        justify-content: center;
        flex-wrap: wrap;
    }
    .persona:first-child {
        margin-right: 5%;
    }
    .persona {
        width: 47.5%;
    }
    .demo {
        margin: 5rem 0;
    }
    .demo-text {
        margin-left: 5%;
        width: 50%;
    }
    .pref-option {
        width: 45%;
    }
    .mobile-hifi {
        width: 47.5%;
    }
    .project-preview {
        align-self: flex-end;
        width: 45%;
    }
}

/* TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
    /* About Page */
    .introduction {
        max-height: 104rem;
    }
    .growth {
        max-height: 169rem;
    }
    .resume {
        margin-bottom: 20rem;
    }
    /* Case Study */
    .three-col {
        width: 25%;
    }
}


/* DESKTOP 1240px */
@media screen and (min-width: 1240px) {
    .container {
        width: 70%;
        /* max-width: 159rem; Trying to figure out how to center with a set width*/
    }
    .menu-toggle {
        display: none;
    }
    .full-menu {
        display: initial;
        margin: 0;
        padding-top: 2rem;
        width: 100%;
    }
    .kgrl-logo img {
        width: 60px;
    }
    .kgrl-logo {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .main_menu {
        background: url(/assets/svgs/main_menu.svg) top left no-repeat;
        display: flex;
        flex-direction: column;
        height: 350px;
        left: 0;
        margin: 0;
        padding: 4rem;
        position: fixed;
        top: 0;
        width: 170px;
        z-index: 1;
    }
    .full {
        margin: 0 -30%;
        padding: 10rem 30%;       
    }
    footer {
        margin: 0 -30%;
        padding: 5rem 30% 3rem 30%;
    }
    /* Homepage  */
    .hero {
        margin: 0 -25% 0 -30%;
        padding: 10rem 30% 18rem 30%;
    }
    .heading, .bio {
        width: 50%;
    }
    .project-descript {
        font-size: 4rem;
    }

    /* About Me */
    .introduction {
        background: url(/assets/svgs/hero-blob.svg) top right no-repeat;
        background-position-x: 95%;
        margin: 0 -30%;
        max-height: 104rem;
        padding: 10rem 30%;
    }
    .growth {
        max-height: 127rem;
    }
    .resume {
        margin-bottom: 18rem;
    }
    .bio-photo, .bio-imgs {
        width: 30%;
    }
    .intro-hero, .intro-bio {
        margin-left: 5%;
        width: 65%;
    }

    /* Case Study */
    .overview {
        padding-top: 0;
    }
    .crue-hero {
        margin-left: 5%;
        padding-top: 0;
    }
    .project-nav {
        padding: 3rem 30%;
        text-align: left;
    }
    .project-nav ul {
        font-size: 2.25rem;
        padding: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .copper-blt {
        margin: 0 1rem;
    }
    .card {
        width: 31.5%;
    }
    .space-around {
        justify-content: space-around;
    }
    .personas {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .persona:first-child {
        margin-right: 0;
    }
    .persona {
        width: 31.5%;
    }
    .demo-text {
        margin-left: 0;
        width: 60%;
    }
}